@font-face {
  font-family: "Inter";
  src: url("fonts/Inter-VariableFont_opsz,wght.ttf");
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Inter;
}

a {
  text-decoration: none;
  color: initial;
}

.nav__link.active {
  color: #44bb4a;
  font-weight: 800;
}
