@import "../../imageSharing.Shared/Imports/_colors";
@font-face {
    font-family: "now";
    src: url("fonts/now.light.otf");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: now;
}
a {
    text-decoration:none;
}
.dark--main {
    transition: .5s;
    background-color: $black;
    transition-timing-function: ease;
}
.light--main {
    transition: .5s;
    background-color: white;
    transition-timing-function: ease;
}
.dark--text {
    transition: .5s;
    color: white;
    transition-timing-function: ease;
}
.light--text {
    transition: .5s;
    color: black;
    transition-timing-function: ease;
}
.text--hover:hover {
    color: rgba($second, 1);
    cursor:pointer;
}