@import "../../imageSharing.Shared/Imports/_colors";
@font-face {
    font-family: "now";
    src: url("fonts/now.light.otf");
}
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: now;
}
a {
    text-decoration:none;
}
a.dark--text:visited {
    color: white;
}
a.light--text:visited {
    color: black;
}
.dark--main {
    transition: .5s;
    background-color: $black;
    transition-timing-function: ease;
}
.light--main {
    transition: .5s;
    background-color: white;
    transition-timing-function: ease;
}
.dark--text {
    transition: .5s;
    color: white;
    transition-timing-function: ease;
}
.light--text {
    transition: .5s;
    color: black;
    transition-timing-function: ease;
}
.light--icon {
    transition: .5s;
    background-color: black !important;
    transition-timing-function: ease;
}
.dark--icon {
    transition: .5s;
    background-color: white !important;
    transition-timing-function: ease;
}
.text--hover:hover {
    color: rgba($second, 1) !important;
    cursor:pointer;
    transition: .2s;
}
.active__link {
    color: $second;
}
/// Form
.form__info {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    gap:5px;
    background-color: rgba($main, .8);
    text-align:center;
    padding:15px;
    width:100%;
    .form__info--text {
        font-size:22px;
    }
    .form__info--link {
        border:1px solid black;
        padding:10px 20px 10px 20px;
    }
}
.main__form {
    min-height:calc(100vh - 172px);
    padding:20px;
}
.form__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 15px;
    .form__header {
        border-bottom: 1px solid $second;
        width:100%;
        text-align:center;
        padding-bottom: 10px;
        margin-bottom:5px;
    }

    h2 {
        width: 100%;
        text-align: center;
        border-bottom: 1px solid #000;
        line-height: 0.1em;
        margin: 10px 0 20px;
        width:80%;
        max-width:500px;
    }
    h2 .form__text {
         background:#fff; 
         padding:0 10px; 
    }
    .form__text.dark--text {
        background: $black;
    }
    .form__companies {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 80%;
        max-width: 500px;

        .form__container {
            display: flex;
            align-items: center;
            gap: 5px;
            padding: 10px;
            border-radius: 15px;
            border: 1px solid black;
            transition: .2s;
            .form__icon {
                height: 30px;
                width: 30px;
            }
        }
        .form__container.dark--main {
            border: 1px solid white;
        }
        .form__container--facebook:hover {
            background-color:rgba(24, 119, 242, .5);
            color:white;
        }
        .form__container--google:hover {
            background-color: rgba(235, 67, 53, .5);
            color:white;
        }
        .form__container--github:hover {
            background-color: rgba(black, .5);
            color:white;
        }
    }
}
    .form {
        display:flex;
        flex-direction:column;
        justify-content:center;
        gap:15px;
        width: 80%;
        max-width: 500px;
        .form__inputs {
            display:flex;
            flex-direction:column;
            gap:10px;
        }
        .form__input {
            height:45px;
            width:100%;
            padding:15px;
            border-radius: 20px;
            background-color: rgba(lightgray, .2);
            border:1px solid rgba(black, .3);
        }
        .form__input:focus {
            outline:none;
            background-color: white;
        }
        .form__input.dark--main {
            background-color: rgba(white, .1);
            border: 1px solid rgba(white, .1);
            color:white;
        }
        .form__input.dark--main:focus {
            background-color: $black--second;
        }
        .form__input.dark--main::placeholder {
            color: rgba(white, .8);
        }
        .form__submit {
            padding:10px;
            background-color: transparent;
            border:1px solid black;
            transition: .2s;
            cursor:pointer;
        }
        .form__submit:hover {
            background-color:$main;
        }
        .form__submit.dark--text {
            border: 1px solid white;
        }
        .form__clear {
            padding:10px;
            background-color:transparent;
            border:none;
        }
        .form__options {
            display:flex;
            justify-content:space-between;
            padding: 0px 15px 0px 15px;
        }
}
    .validation-errors {
        padding:10px;
    }
    .validation-message {
        color:red;
        list-style-type:none;
    }