.header {
    display:flex;
    align-items:center;
    padding: 5px;
    .header__image {
        width: 100px;
    }
    ::deep .header__form {
        display:flex;
        .header__inputs {
            display:flex;
            border:1px solid black;
            border-radius:10px;
            padding:5px;
            .header__input {
                border:none;
                padding:5px;
            }
            .header__input--select {
                border:none;
            }
        }
    }
}
